/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');



/* GLOBAL */
:root {
    --light-gray:#f7f8f8;
    --gray:#a7aab2;
    --dark-gray: #505666;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

a {
    cursor: pointer;
}


/***** STYLES *****/

/* header */
.main-header {
    width: auto;
    max-width: 1500px;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 50px 100px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.header-text {
    position: absolute;
    right: 100px;
    display: inline-block;
    font-size: 30px;
    color: var(--dark-gray);
    font-family: 'Varela Round', sans-serif;
}

.header-logo svg {
    height: 3.5rem;
    transition: fill .25s ease;
}

/* menu */
.menu {
    width: 100%;
    padding: 0 20px;
    background-color: var(--light-gray);
    box-shadow: 0 0 48px rgba(0,0,0,.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-logo svg {
    height: 1rem;
    transition: fill .25s ease;
}

.nav-logo svg:hover {
    fill: #cc0099;
}

.nav-mail svg {
    height: 20px;
    fill: #cdd0d4;
}

.nav-links ul li {
    float: left;
    padding: 15px 12px;
    color: var(--dark-gray);
    font-size: 12px;
}

.nav-links ul li:hover {
    background-color: #fff;
    color: #000;
}

.link-arrow::after {
    position: relative;
    pointer-events: none;
    float: right;
    margin-left: .5rem;
    height: .75rem;
    width: .75rem;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMic+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjQTdBQUIyJyBkPSdNMTEuNSAzLjVMNiA5IC41IDMuNScvPjwvc3ZnPg==);
    content: "";
    top: 14px;
    margin-top: -.78rem;
}

/* headlines */
.headlines-container{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 50px;
    max-width: 1500px;
    color: white;
    line-height: 1.2;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,120px);
}

.headline {
    position: relative;
    overflow: hidden;
}

.headline > a {
  display: block;
  position: relative;
  height: 100%;
  transform: scale(1.03);
  transition: all .5s ease;
}

.headline img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    bottom:0;
    right: 0;
}

.headline > a:hover {
    transform: scale(1);
}

.headline > header {
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 30;
}

.headline1 header, .headline2 header {
    font-size: 35px;
    font-family: 'Archivo Black', sans-serif;
}

.headline3 header, .headline4 header {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.headline5 header h3 {
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
}

.headline header h6 {
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
}

.headline1 {
    grid-column: 1/3;
    grid-row: 1/span 3;
}

.headline2 {
    grid-column: 3/5;
    grid-row: 3/span 3;
}

.headline3 {
    grid-column: 3/4;
    grid-row: 1/span 2;
}

.headline4 {
    grid-column: 4/5;
    grid-row: 1/span 2;
}

.headline5 {
    grid-column: 1/3;
    grid-row: 4/span 2;
}

.headline5 > header {
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headline5 > header > a {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    padding: 13px 24px;
    margin-top: 13px;
    border: 1px solid #fff;
    border-radius: 40px;
}

.headline > a::after, .headline5::after{
    position: absolute;
    top: 0;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-image: linear-gradient(180deg,transparent 0,#000);
    content: "";
}

/* Popular */
.popular {
    margin:0 auto;
    padding: 64px 48px;
    max-width: 1500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: var(--light-gray);
}

.popular > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #a7aab2;
    margin-bottom: 64px;
}

.popular ol {
    display: grid;
    line-height: 1.2;
    margin: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
}

.popular a {
    display: block;
    display: flex;
}

.popular a span {
    padding: 0 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: #cc0099;
    line-height: .9;
}

.popular a h4 {
    transition: all .25s ease-in-out;

}

.popular a h4:hover {
    text-decoration: underline;
    text-decoration-color: #cc0099;
    text-underline-offset: 4px;
}

/* Latest */
.latest {
    margin:0 auto;
    padding: 112px 48px;
    max-width: 1500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.latest h2 {
    font-size: 2.5em;
    font-family: 'Archivo Black', sans-serif;
    margin: 0 1.5rem;
}

.latest > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.latest > div:last-child a{
    height: 3rem;
    display: inline-block;
    border: 1px solid var(--gray);
    font-size: 13px;
    border-radius: 1.5rem;
    padding: 15px 25px;
    padding-right: 38px;
    position: relative;
    letter-spacing: .025em;
    transition-duration: .1s;
    display: flex;
    align-items: center;
}

.latest > div:last-child a:hover {
    border-color:  #868991;
}

.latest > div:last-child a::after{
    position: absolute;
    height: 1rem;
    top: 14px;
    opacity: .5;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMCAxNic+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjNTA1NjY2JyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J00xLjUgMWw3IDctNyA3Jy8+PC9zdmc+);
    background-size: 100%;
    content: "";
    right: 20px;
    transition: .25s;
    width: 10px;
}

.latest > div:last-child a:hover::after{
    right: 17px;
}

.news-container {
    max-width: 1500px;
    margin: 1.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,270px);
}

.news {
    overflow: hidden;
    width: 100%;
    line-height: 24px;
    font-size: 1rem;
}

.news a img {
    width: 100%;
    height: 157px;
    object-fit: cover;
    object-position: 50% 50%;
}

.news a h6:hover {
    text-decoration: underline;
    text-decoration-color: #cc0099;
    text-underline-offset: 4px;
}

.news a p {
    color: var(--gray);
    font-weight: 300;
    font-size: 14px;
}

.news1, .news2, .news3, .news4 {
    grid-row: 1/span 1;
}

.news5, .news6, .news7, .news8 {
    grid-row: 2/span 1;
}

.news1, .news5 {
    grid-column: 1/span 1;
}

.news2, .news6 {
    grid-column: 2/span 1;
}

.news3, .news7 {
    grid-column: 3/span 1;
}

.news4, .news8 {
    grid-column: 4/span 1;
}

/* explore */
.explore {
    background-color: var(--light-gray);
    margin:0 auto;
    padding: 112px 48px;
    max-width: 1500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.explore > h2 {
    margin-bottom: 64px;
    font-size: 2.5em;
    font-family: 'Archivo Black', sans-serif;
}

.channels-container {
    display: flex;
}

.channel {
    margin-right: 1rem;
    width: 100px;
    height: 232px;
    flex-basis: calc(20% - 1rem);
}

.channel > article {
    height: 100%;
    text-align: center;
    padding: 2rem 1rem;
    color: white;
    line-height: 24px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.channel > article img {
    width: 120px;
}

.channel1 > article {
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=7702697239da7f47625866f9bd0b7cad");
}

.channel2 > article {
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=e2214820cceb78b748acdb3a73536e20");
}

.channel3 > article {
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=7bd918d46dfac160834d7ccdde543fe9");
}

.channel4 > article {
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=3fffd5be376accdf91664a5906cebe68");
}

.channel5 > article {
    background: url("https://img-cdn.tnwcdn.com/image?fit=215%2C265&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=6cf234f776f9a1fa060101f1d8d9866b");
}

.channel1 > article, .channel2 > article, .channel3 > article, .channel4 > article, .channel5 > article {
    background-size: cover;
    background-position: 50%;
}   

/* subscribe */
.subscribe {
    max-width: 1500px;
    height: 336px;
    padding: 4em;
    background: #000 url(https://next.tnwcdn.com/assets/next/img/spacesbg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1;
}

.subscribe > h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5rem;
    letter-spacing: -0.025em;
    margin-bottom: 24px;
}

.subscribe > p {
    margin-bottom: 24px;
}

.subscribe > p a{
    color: hsl(190, 100%, 50%);
}

.sub-form-container form {
    width: 720px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.form-icon {
    padding: 15px;
    flex: 1;
}

.form-icon > svg{
    display: inline-block;
    height: 16px;
}

.sub-form-container input {
    padding: 15px 0;
    outline: none;
    flex: 30;
}

.sub-form-container button {
    display: inline-block;
    height: 49px;
    padding: 15px;
    color: var(--gray);
    font-weight: 500;
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 1;
}

.social-links {
    margin-top: 15px;
}

.social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links ul li {
    padding: 0 8px;
}

.social-link > svg {
    display: inline-block;
    height: 24px;
    fill: #fff;
    opacity: .4;
    transition: all .25s ease;
}

.social-link > svg:hover {
    opacity: 1;
}

/* watch */ 
.watch {
    background-color: var(--light-gray);
    margin:0 auto 100px;
    padding: 112px 48px;
    max-width: 1500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}




/* media query */